@inherits LayoutComponentBase

<PageTitle>ActivityApp</PageTitle>

<div class="page">
    <main class="container">
       <div class="links pt-4 px-5 mb-4">
          <Login />
       </div>
        <article class="content pt-2">
            @Body
        </article>
    </main>
</div>
